.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    width: 55%;
    border-radius: 5px;
    background-color: #fff;
}
.modal-header, .modal-footer {
    padding:10px;
}

.modal-title{
    margin: 0;
}

.modal-body {
    display: flex;
    border-top: 1px solid #eee;
    border-bottom:1px solid #eee;
    
}
.body__firstDivision{
    background-color: tomato;
    width: 50%;
}
.body__secondDivision{
    background-color: turquoise;
    width: 50%;
}
.button{
    background-color: rgb(36, 98, 212);
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
    color: white;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    
    border: none; 
}